<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Dealership Review</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./contact.html">Contact</a>
                </li>
            </ul>

            {% if user.is_authenticated %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">{{user.username}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
            </ul>
            <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'djangoapp:add_review' dealer_id dealer_name %}">Add Review</a>
            {% endif %}
        </div>
    </nav>

    <div class="container">
        <h3 class="mb-3">Reviews for: {{dealer_name}}</h3>
        <!-- Add reviews as cards -->
        <div class="card-columns">
            {% for review in reviews %}
                <div class="card">
                    {% if review.sentiment == 'positive' %}
                        <img src="{{MEDIA_URL}}/emoji/positive.png" alt="Positive Sentiment" class="card-img-left" width="35px">
                    {% elif review.sentiment == 'neutral' %}
                        <img src="{{MEDIA_URL}}/emoji/neutral.png" alt="Neutral Sentiment" class="card-img-left" width="35px">
                    {% elif review.sentiment == 'negative' %}
                        <img src="{{MEDIA_URL}}/emoji/negative.png" alt="Negative Sentiment" class="card-img-left" width="35px">
                    {% endif %}
                    <div class="card-body">
                        <h4 class="card-title">{{review.car_model}}, {{review.car_make}}</h4>
                        <h6 class="card-title">{{review.car_year}}</h6>
                        <p class="card-title">{{review.review}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </body>

</html>